body { 
    font-family: Arial, sans-serif; 
    background-color: #f0f0f0be; 
    color: #333;
    padding: 20px;
}

h1 {
    color: #2b3f53;
    font-size: 2em;
    margin-top: 20px;
}

h2 {
    color: #32495f;
    font-size: 2em;
    margin-top: 15px;
}

p {
    font-size: 1.3em;
    line-height: 1.5;
    color: #5c5b5b;
}

a {
    color: #55db34;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

ol {
    font-size: 1.1em;
    color: #333;
    padding-left: 40px;
}

li {
    margin-bottom: 8px;
}

img {
    display: block;
    margin: 20px auto;
    border-radius: 8px;
}

footer {
    margin-top: 40px;
    font-size: 0.9em;
    color: #777;
}

#contact {
    margin-top: 40px;
    padding: 20px;
    background-color: #dfe7dde0; 
    border-radius: 10px; 
    box-shadow: 0 2px 10px;
}

form {
    display: flex;
    flex-direction: column; 
    gap: 15px; 
}

label {
    font-weight: bold; 
}

input[type="text"], input[type="email"], textarea {
    padding: 10px;
    border: 1px solid #ccc; 
    border-radius: 5px; 
    font-size: 1em; 
}

input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
    border-color: #34db66; 
    outline: none; 
}

button {
    padding: 10px;
    background-color: #29b989; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    font-size: 1em; 
    cursor: pointer; 
}

button:hover {
    background-color: #34dbcd; 
}
